@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        background: url(img/vectormobile.svg), url(img/starmobile2.svg), url(img/starmobile3.svg), url(img/starmobile4.svg), url(img/starmobile5.svg), rgb(225, 255, 143) right;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: 100% 0, 37px 97px, 91px 64px, 303px 580px, 272px 557px;

        &__title {
            text-align: center;
            font-size: 40px;
            line-height: 100%;
            height: auto;
            padding-top: 147px;
            max-width: 262px;
            margin-left: 57px;
            height: 196px;

        }

        &__description {
            text-align: center;
            line-height: 100%;
            font-size: 16px;
            margin-top: 24px;
            margin-left: 40px;
            max-width: 296px;

        }

        &__button {
            margin-left: 46px;
            margin-top: 36px;
            margin-bottom: 182px;
        }
    }

    .games {
        display: none;
    }

}