@media (max-width: 767px) {
    .center {
        padding-left: calc(50% - 172px);
        padding-right: calc(50% - 172px);
    }

    .top {
        background: url(img/vectormobile.svg), url(img/starmobile2.svg), url(img/starmobile3.svg), url(img/starmobile4.svg), url(img/starmobile5.svg), rgb(225, 255, 143) right;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: 100% 0, 37px 97px, 91px 64px, 303px 580px, 272px 557px;

        &__title {
            text-align: center;
            font-size: 40px;
            line-height: 100%;
            height: auto;
            padding-top: 147px;
            max-width: 262px;
            margin-left: 57px;
            height: 196px;

        }

        &__description {
            text-align: center;
            line-height: 100%;
            font-size: 16px;
            margin-top: 24px;
            margin-left: 40px;
            max-width: 296px;

        }

        &__button {
            margin-left: 46px;
            margin-top: 36px;
            margin-bottom: 182px;
        }
    }

    .games {
        display: none;
    }

    .games-mini {
        &__game {
            height: 528.63px;
            width: 343px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            &_2 {
                height: 567px;

            }

            &_3 {
                height: 567px;
            }

            &_4 {
                height: 528px;
            }

            &_5 {
                height: 606px;
            }

            &_6 {
                height: 626px;
            }

        }

        &__title {
            font-size: 40px;
        }

        &__box {
            gap: 24px;
            padding-bottom: 48px;
        }

        &__flex {
            display: flex;
            padding: 29px;
            width: 285px;
            height: 182px;
        }

        &__header {
            font-size: 32px;
        }

        &__description {
            font-size: 16px;
            line-height: 100%;

            &_1 {
                width: 275px;
            }

            &_2 {
                width: 283px;
            }
        }

        &__button {
            font-size: 16px;
            width: 285px;
            height: 55px;
            padding: 32px;
            margin-top: 32px;
        }

        &__img {
            display: none;
        }

        &__mobile {
            display: block;
        }

    }

    .footer {
        height: 100px;

        &__title {
            font-size: 16px;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

}

@media (hover: none) {
    a:hover {
        /* Отключаем hover-эффекты для ссылок */
        background-color: transparent;
    }
}