* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;


}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);

}

.top {
    height: 800px;
    background: url(img/bigstar.svg), url(img/star5.svg), url(img/star4.svg), url(img/star2.svg), url(img/star3.svg) rgb(225, 255, 143) right;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 100%, 948px 538px, 1013px 568px, 63px 94px, 156px 69px;

    &__title {
        width: 769px;
        height: 156px;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
        padding-top: 196px;
        // margin-left: 120px;
    }

    &__description {
        width: 720px;
        height: 64px;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        margin-top: 24px;

    }

    &__button {
        margin-top: 48px;
        margin-bottom: 246px;
        width: 247px;
        height: 66px;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        font-family: inherit;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        text-align: center;
        text-decoration-line: none;
        color: rgb(255, 255, 255);
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;

        &:hover {
            background-color: rgb(255, 255, 255);
            color: black;
            cursor: pointer;
        }
    }
}

a {
    display: block;
}

.games {
    background: url(img/star12.svg), url(img/star1.svg), url(img/star11.svg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 40px 822px, top 77px right 0px, 25px 770px;
    background-color: black;
    display: flex;
    flex-direction: column;


    &__box {
        display: flex;
        flex-wrap: wrap;
        column-gap: 32px;
        justify-content: flex-start;
        margin-bottom: 50px;

    }

    &__item {
        color: rgb(32, 32, 39);
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: 0px;
        text-align: left;
        text-decoration-color: black;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 36px;

    }

    &__title-litle {
        font-family: inherit;
        color: black;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        text-align: left;
        padding-top: 26px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 36px;
    }

    &__title {
        color: white;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
        padding-top: 94px;

    }

    &__title-description {
        color: white;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        padding-top: 24px;
        padding-bottom: 72px;
        width: 788px;
        height: 96px;
    }

    &__img {
        border-radius: 30px;


    }

    &__game {
        background-color: white;
        width: 378px;
        height: 473px;
        border-radius: 30px;
        transition: 1s;

        &:hover {
            transform: scale(1.1);

        }

        &_1 {
            height: 473px;
        }

        &_2 {
            height: 512px;
        }

        &_3 {
            height: 473px;
        }

        &_4 {
            height: 551px;
        }

        &_5 {
            height: 512px;
            margin-top: 32px;
        }

        &_6 {
            height: 551px;
        }

    }

    &__link {
        text-decoration: none;

    }
}

.games-mini {
    background: url(img/starminigame1.svg), url(img/starminigame2.svg), url(img/starminigame3.svg), url(img/starminigame4.svg);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: top 93px right 123px, top 126px right 44px, top 3366px right 52px, top 3414px right 150px;
    background-color: black;

    &__title {
        color: #ffffff;
        padding-top: 46px;
        padding-bottom: 72px;
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
    }

    &__box {
        padding-bottom: 144px;
        gap: 32px;
        display: flex;
        flex-direction: column;
    }

    &__game {
        background-color: white;
        display: flex;
        justify-content: space-between;
        height: 500px;
        border-radius: 30px;
    }

    &__flex {
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 48px;
    }

    &__header {
        color: black;
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;

    }

    &__description {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: black;
        padding-top: 24px;

        &_1 {
            width: 457px;
        }

        &_2 {
            width: 497px;
        }
    }

    &__button {
        padding: 36px;
        margin-top: 48px;
        margin-bottom: 246px;
        width: 247px;
        height: 66px;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        font-family: inherit;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        text-align: center;
        text-decoration-line: none;
        color: rgb(255, 255, 255);
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
    }

    &__mobile {
        display: none;
    }
}

.footer {
    height: 150px;
    background-color: rgba(189, 237, 53, 1);

    &__title {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        padding-top: 60px;
        text-align: center;
        color: black;

    }
}


@import 'tablet';
@import 'mobile';